[*.cs]
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0011.severity = none
dotnet_diagnostic.IDE0046.severity = none
dotnet_diagnostic.IDE0058.severity = none
dotnet_diagnostic.IDE0130.severity = none
dotnet_diagnostic.CA1305.severity = none