<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SLStudio.Views.Theme.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SLStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SLStudio.Views.Theme.Default>
            <setting name="backColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="foreColor" serializeAs="String">
                <value>HotTrack</value>
            </setting>
            <setting name="highlightColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="highlightColor2" serializeAs="String">
                <value>128, 255, 255</value>
            </setting>
            <setting name="fontColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="fontStyle" serializeAs="String">
                <value>Segoe UI, 8.25pt</value>
            </setting>
        </SLStudio.Views.Theme.Default>
        <SLStudio.Properties.Settings>
            <setting name="showStartScreen" serializeAs="String">
                <value>True</value>
            </setting>
        </SLStudio.Properties.Settings>
    </userSettings>
</configuration>