<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SLStudio.ViewsExtensions.Themes.Dark" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SLStudio.ViewsExtensions.Themes.DefaultTheme" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SLStudio.ViewsExtensions.Themes.Dale" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SLStudio.Views.Themes.DefaultTheme" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SLStudio.Views.Themes.DarkTheme" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SLStudio.Views.Themes.Light" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SLStudio.Views.Themes.Ligth" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SLStudio.Views.Themes.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SLStudio.Views.Theme.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SLStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SLStudio.ViewsExtensions.Themes.Dark>
      <setting name="borders" serializeAs="String">
        <value>0, 122, 204</value>
      </setting>
      <setting name="bordersDark" serializeAs="String">
        <value>0, 122, 204</value>
      </setting>
      <setting name="bordersLight" serializeAs="String">
        <value>0, 122, 204</value>
      </setting>
      <setting name="error" serializeAs="String">
        <value>229, 20, 0</value>
      </setting>
      <setting name="font" serializeAs="String">
        <value>WhiteSmoke</value>
      </setting>
      <setting name="fontDark" serializeAs="String">
        <value>DarkGray</value>
      </setting>
      <setting name="fontLight" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="info" serializeAs="String">
        <value>27, 161, 226</value>
      </setting>
      <setting name="link" serializeAs="String">
        <value>0, 102, 204</value>
      </setting>
      <setting name="selection" serializeAs="String">
        <value>28, 151, 234</value>
      </setting>
      <setting name="selectionDark" serializeAs="String">
        <value>14, 97, 152</value>
      </setting>
      <setting name="selectionLight" serializeAs="String">
        <value>100, 180, 255</value>
      </setting>
      <setting name="style" serializeAs="String">
        <value>0, 122, 204</value>
      </setting>
      <setting name="theme" serializeAs="String">
        <value>45, 45, 48</value>
      </setting>
      <setting name="themeDark" serializeAs="String">
        <value>51, 51, 55</value>
      </setting>
      <setting name="themeLight" serializeAs="String">
        <value>70, 70, 70</value>
      </setting>
      <setting name="warning" serializeAs="String">
        <value>255, 204, 0</value>
      </setting>
      <setting name="workspace" serializeAs="String">
        <value>30, 30, 30</value>
      </setting>
      <setting name="workspaceDark" serializeAs="String">
        <value>30, 30, 30</value>
      </setting>
      <setting name="workspaceLight" serializeAs="String">
        <value>54, 54, 54</value>
      </setting>
    </SLStudio.ViewsExtensions.Themes.Dark>
    <SLStudio.ViewsExtensions.Themes.DefaultTheme>
      <setting name="borders" serializeAs="String">
        <value>0, 82, 175</value>
      </setting>
      <setting name="bordersDark" serializeAs="String">
        <value>0, 82, 175</value>
      </setting>
      <setting name="bordersLight" serializeAs="String">
        <value>0, 82, 175</value>
      </setting>
      <setting name="error" serializeAs="String">
        <value>229, 20, 0</value>
      </setting>
      <setting name="font" serializeAs="String">
        <value>12, 12, 12</value>
      </setting>
      <setting name="fontDark" serializeAs="String">
        <value>DarkGray</value>
      </setting>
      <setting name="fontLight" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="info" serializeAs="String">
        <value>27, 161, 226</value>
      </setting>
      <setting name="link" serializeAs="String">
        <value>0, 102, 204</value>
      </setting>
      <setting name="selection" serializeAs="String">
        <value>28, 151, 234</value>
      </setting>
      <setting name="selectionDark" serializeAs="String">
        <value>0, 122, 204</value>
      </setting>
      <setting name="selectionLight" serializeAs="String">
        <value>100, 180, 255</value>
      </setting>
      <setting name="style" serializeAs="String">
        <value>28, 151, 234</value>
      </setting>
      <setting name="theme" serializeAs="String">
        <value>238, 238, 242</value>
      </setting>
      <setting name="themeDark" serializeAs="String">
        <value>195, 195, 198</value>
      </setting>
      <setting name="themeLight" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="warning" serializeAs="String">
        <value>255, 204, 0</value>
      </setting>
      <setting name="workspace" serializeAs="String">
        <value>LightGray</value>
      </setting>
      <setting name="workspaceDark" serializeAs="String">
        <value>DarkGray</value>
      </setting>
      <setting name="workspaceLight" serializeAs="String">
        <value>WhiteSmoke</value>
      </setting>
    </SLStudio.ViewsExtensions.Themes.DefaultTheme>
    <SLStudio.ViewsExtensions.Themes.Dale>
      <setting name="corzinha" serializeAs="String">
        <value>Red</value>
      </setting>
    </SLStudio.ViewsExtensions.Themes.Dale>
    <SLStudio.Views.Themes.DefaultTheme>
      <setting name="styleTheme" serializeAs="String">
        <value>238, 238, 242</value>
      </setting>
      <setting name="styleBase" serializeAs="String">
        <value>28, 151, 234</value>
      </setting>
      <setting name="styleSelected" serializeAs="String">
        <value>0, 122, 204</value>
      </setting>
      <setting name="styleFont" serializeAs="String">
        <value>12, 12, 12</value>
      </setting>
      <setting name="styleBorders" serializeAs="String">
        <value>0, 82, 175</value>
      </setting>
      <setting name="styleThemeExtras" serializeAs="String">
        <value>195, 195, 198</value>
      </setting>
      <setting name="styleLink" serializeAs="String">
        <value>0, 102, 204</value>
      </setting>
      <setting name="styleSelection" serializeAs="String">
        <value>252, 252, 253</value>
      </setting>
      <setting name="styleSelection2" serializeAs="String">
        <value>28, 151, 234</value>
      </setting>
      <setting name="styleWorkspace" serializeAs="String">
        <value>WhiteSmoke</value>
      </setting>
      <setting name="styleError" serializeAs="String">
        <value>229, 20, 0</value>
      </setting>
      <setting name="styleWarning" serializeAs="String">
        <value>255, 204, 0</value>
      </setting>
      <setting name="styleInfo" serializeAs="String">
        <value>27, 161, 226</value>
      </setting>
      <setting name="styleFontMask" serializeAs="String">
        <value>DarkGray</value>
      </setting>
      <setting name="styleFontLight" serializeAs="String">
        <value>White</value>
      </setting>
    </SLStudio.Views.Themes.DefaultTheme>
    <SLStudio.Views.Themes.DarkTheme>
      <setting name="theme" serializeAs="String">
        <value>ControlDarkDark</value>
      </setting>
      <setting name="style" serializeAs="String">
        <value>0, 122, 204</value>
      </setting>
      <setting name="styleExtras" serializeAs="String">
        <value>0, 122, 204</value>
      </setting>
      <setting name="styleFont" serializeAs="String">
        <value>12, 12, 12</value>
      </setting>
      <setting name="styleBorders" serializeAs="String">
        <value>0, 82, 175</value>
      </setting>
      <setting name="themeExtras" serializeAs="String">
        <value>195, 195, 198</value>
      </setting>
      <setting name="styleLink" serializeAs="String">
        <value>0, 102, 204</value>
      </setting>
      <setting name="styleSelection" serializeAs="String">
        <value>252, 252, 253</value>
      </setting>
      <setting name="styleSelection2" serializeAs="String">
        <value>28, 151, 234</value>
      </setting>
      <setting name="styleWorkspace" serializeAs="String">
        <value>WhiteSmoke</value>
      </setting>
      <setting name="styleError" serializeAs="String">
        <value>229, 20, 0</value>
      </setting>
      <setting name="styleWarning" serializeAs="String">
        <value>255, 204, 0</value>
      </setting>
      <setting name="styleInfo" serializeAs="String">
        <value>27, 161, 226</value>
      </setting>
      <setting name="styleFontMask" serializeAs="String">
        <value>DarkGray</value>
      </setting>
    </SLStudio.Views.Themes.DarkTheme>
    <SLStudio.Views.Themes.Light>
      <setting name="theme" serializeAs="String">
        <value>238, 238, 242</value>
      </setting>
      <setting name="style" serializeAs="String">
        <value>0, 122, 204</value>
      </setting>
      <setting name="styleExtras" serializeAs="String">
        <value>0, 122, 204</value>
      </setting>
      <setting name="styleFont" serializeAs="String">
        <value>12, 12, 12</value>
      </setting>
      <setting name="styleBorders" serializeAs="String">
        <value>0, 82, 175</value>
      </setting>
      <setting name="themeExtras" serializeAs="String">
        <value>195, 195, 198</value>
      </setting>
      <setting name="styleLink" serializeAs="String">
        <value>0, 102, 204</value>
      </setting>
      <setting name="styleSelection" serializeAs="String">
        <value>252, 252, 253</value>
      </setting>
      <setting name="styleSelection2" serializeAs="String">
        <value>28, 151, 234</value>
      </setting>
      <setting name="styleWorkspace" serializeAs="String">
        <value>WhiteSmoke</value>
      </setting>
      <setting name="styleError" serializeAs="String">
        <value>229, 20, 0</value>
      </setting>
      <setting name="styleWarning" serializeAs="String">
        <value>255, 204, 0</value>
      </setting>
      <setting name="styleInfo" serializeAs="String">
        <value>27, 161, 226</value>
      </setting>
      <setting name="styleFontMask" serializeAs="String">
        <value>DarkGray</value>
      </setting>
    </SLStudio.Views.Themes.Light>
    <SLStudio.Views.Themes.Ligth>
      <setting name="backColor" serializeAs="String">
        <value>Control</value>
      </setting>
      <setting name="backColor2" serializeAs="String">
        <value>ControlDark</value>
      </setting>
      <setting name="foreColor" serializeAs="String">
        <value>ControlText</value>
      </setting>
      <setting name="foreColor2" serializeAs="String">
        <value>InactiveCaption</value>
      </setting>
      <setting name="highlight" serializeAs="String">
        <value>Highlight</value>
      </setting>
      <setting name="highlight2" serializeAs="String">
        <value>ActiveCaption</value>
      </setting>
    </SLStudio.Views.Themes.Ligth>
    <SLStudio.Views.Themes.Default>
      <setting name="backColor" serializeAs="String">
        <value />
      </setting>
      <setting name="backColor2" serializeAs="String">
        <value />
      </setting>
      <setting name="foreColor" serializeAs="String">
        <value />
      </setting>
      <setting name="foreColor2" serializeAs="String">
        <value />
      </setting>
      <setting name="highlight" serializeAs="String">
        <value />
      </setting>
      <setting name="highlight2" serializeAs="String">
        <value />
      </setting>
    </SLStudio.Views.Themes.Default>
    <SLStudio.Views.Theme.Default>
      <setting name="backColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="foreColor" serializeAs="String">
        <value>HotTrack</value>
      </setting>
      <setting name="highlightColor" serializeAs="String">
        <value>Cyan</value>
      </setting>
      <setting name="highlightColor2" serializeAs="String">
        <value>128, 255, 255</value>
      </setting>
      <setting name="fontColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="fontStyle" serializeAs="String">
        <value>Segoe UI, 8.25pt</value>
      </setting>
    </SLStudio.Views.Theme.Default>
    <SLStudio.Properties.Settings>
      <setting name="showStartScreen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="recentFilesList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="themeName" serializeAs="String">
        <value>Light</value>
      </setting>
      <setting name="languageDefault" serializeAs="String">
        <value>en-us</value>
      </setting>
      <setting name="borders" serializeAs="String">
        <value>0, 82, 175</value>
      </setting>
      <setting name="bordersDark" serializeAs="String">
        <value>0, 82, 175</value>
      </setting>
      <setting name="bordersLight" serializeAs="String">
        <value>0, 82, 175</value>
      </setting>
      <setting name="error" serializeAs="String">
        <value>229, 20, 0</value>
      </setting>
      <setting name="font" serializeAs="String">
        <value>12, 12, 12</value>
      </setting>
      <setting name="fontDark" serializeAs="String">
        <value>DarkGray</value>
      </setting>
      <setting name="fontLight" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="info" serializeAs="String">
        <value>27, 161, 226</value>
      </setting>
      <setting name="link" serializeAs="String">
        <value>0, 102, 204</value>
      </setting>
      <setting name="selection" serializeAs="String">
        <value>28, 151, 234</value>
      </setting>
      <setting name="selectionDark" serializeAs="String">
        <value>0, 122, 204</value>
      </setting>
      <setting name="selectionLight" serializeAs="String">
        <value>100, 180, 255</value>
      </setting>
      <setting name="style" serializeAs="String">
        <value>28, 151, 234</value>
      </setting>
      <setting name="theme" serializeAs="String">
        <value>238, 238, 242</value>
      </setting>
      <setting name="themeDark" serializeAs="String">
        <value>195, 195, 198</value>
      </setting>
      <setting name="themeLight" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="warning" serializeAs="String">
        <value>255, 204, 0</value>
      </setting>
      <setting name="workspace" serializeAs="String">
        <value>LightGray</value>
      </setting>
      <setting name="workspaceDark" serializeAs="String">
        <value>DarkGray</value>
      </setting>
      <setting name="workspaceLight" serializeAs="String">
        <value>WhiteSmoke</value>
      </setting>
      <setting name="themeAutor" serializeAs="String">
        <value>Adnan</value>
      </setting>
    </SLStudio.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>