<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="4.0.105-alpha" targetFramework="net472" />
  <package id="Caliburn.Micro.Core" version="4.0.105-alpha" targetFramework="net472" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="3.7.0" targetFramework="net472" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net472" />
</packages>